button.profile-icon { 
    padding: .5rem;
    border-radius: 10%;
}

ul.profile-dropdown > li { 
    list-style-type: none;
}

ul.profile-dropdown button { 
    padding: .5rem;
}

.navigation-wrapper { 
    display: flex; 
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.25);
}

.profile-dropdown > * { 
    text-align: end;
}

.profile-settings-wrapper { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-settings-wrapper li { 
    margin-bottom: .50rem;
}

a { 
    text-decoration: none;
    color: white;
}

a:not(:last-child) { 
    padding-right: 2rem;
}

a:hover { 
    font-weight: bolder;
}
